<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon *ngIf="ServerConection" color='secondary' name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="!ServerConection" color='danger' name="close-circle"></ion-icon>
      </button>
      <button ion-button icon-only color="light" (click)="VerConfigPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Sanidad Vegetal UCO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <!-- <button ion-button block color='dark' (click)="VerForm3page('5c47934da11a492e40e93dfc')">Audio</button>
  <button ion-button block color='dark' (click)="VerForm2page('5c47934da11a492e40e93dfc')">Fotos</button>
  <button ion-button block color='dark' (click)="VerRespage(false)">False</button>
  <button ion-button block color='dark' (click)="VerRespage(true)">True</button> -->



  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh-circle">
    </ion-refresher-content>
  </ion-refresher>

  <div class=logo>
    <img src="../../assets/LogoUco.png" alt="Logo">
    <br><br>
  </div>

  <div class='planta'>
      <ion-icon  style="color:#dddddd"><i class="fas fa-spa"></i></ion-icon>
  </div>



  <ion-footer padding>

    <ion-grid>
      <ion-row>

        <ion-col (click)='VerForm1page()'>
          <ion-icon name="add" ></ion-icon>
        </ion-col>

        <ion-col (click)='VerSearchPage()'>
          <ion-icon name="search"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-footer>

</ion-content>
