page-home {


  .logo {
    margin-top: 10vh !important;
    display: block !important;
    text-align: center
  }

  .planta {
    text-align: center !important;

    ion-icon {
      font-size: 30vh !important;
      color: #C0E48E !important;
    }

  }


  ion-footer {
    ion-col {
      border: solid #dddddd;
      text-align: center !important;
      margin: 5px !important;
      color: dark !important;
    }

    ion-icon {
      padding: 0% !important;
      margin: 0% !important;
      // background-color: blue;
      font-size: 15vh;
      color: primary !important;
    }
  }

  @media(orientation: landscape) {

    .logo {
      padding: 0% !important;
      margin: 0% !important;

      img {
        width: 25vw !important;
      }
    }

    .planta {
      text-align: center !important;

      ion-icon {
        font-size: 25vh !important;
      }
    }

  }
}
