<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Buscar Registros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Buscar Por</ion-label>
    <ion-select [(ngModel)]="parametro">
      <ion-option (ionSelect)="ClearReg($event)" *ngFor="let parametro of parametros; let i=index" [value]=i>{{parametro}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-searchbar *ngIf="parametro>=0" [(ngModel)]="query" (ionInput)="onInput($event)" placeholder='Buscar'>
  </ion-searchbar>

  <br><br>


  <ion-card *ngFor="let registro of results;let i=index" (click)="VerRegistro(registro)">
    <ion-card-header>
      <ion-item-divider color="light">
        <h2><b>{{registro.fecha_creacion.fecha}}</b></h2>
      </ion-item-divider>
      <br>
      <b>Cultivo: </b>{{registro.cultivo}}
      <br><br>
      <b>Causa: </b>{{registro.causa}}
      <br><br>
      <b>Analista: </b>{{registro.analista}}
    </ion-card-header>
    <ion-card-content>
      <b>Descripcion: </b>{{registro.descripcion.split(' ').slice(0 , 20).join(' ')}}...
      <br><br>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
