<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Buscar Registros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Buscar Por</ion-label>
    <ion-select [(ngModel)]="parametro">
      <ion-option (ionSelect)="ClearReg($event)" *ngFor="let parametro of parametros; let i=index" [value]=i>{{parametro}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-searchbar *ngIf="parametro>=0" [(ngModel)]="query" (ionInput)="onInput($event)" placeholder='Buscar'>
  </ion-searchbar>

  <br><br>

  <ion-card *ngFor="let registro of results;let i=index" (click)="VerRegistro(registro)">

    <ion-card-header>

      <ion-item-divider color="light">
        <h2><b>{{registro.fecha_creacion.fecha}}</b></h2>
      </ion-item-divider><br>

      <div *ngIf="registro.causa">
        <b>Causa: </b>{{registro.causa.split(' ').slice(0 , 5).join(' ')}}
        <br><br>
      </div>

      <div *ngIf="registro.cultivo">
        <b>Cultivo: </b>{{registro.cultivo.split(' ').slice(0 , 5).join(' ')}}
        <br><br>
      </div>


      <div *ngIf="registro.metodo_cultivo">
        <b>Método de cultivo: </b>{{registro.metodo_cultivo.split(' ').slice(0 , 5).join(' ')}}
        <br><br>
      </div>

      <div *ngIf="registro.metodo_produccion">
        <b>Método de Producción: </b>{{registro.metodo_produccion.split(' ').slice(0 , 5).join(' ')}}
        <br><br>
      </div>


      <div *ngIf="registro.tipo_fruto">
        <b>Tipo de fruto: </b>{{registro.tipo_fruto.split(' ').slice(0 , 5).join(' ')}}
        <br><br>
      </div>

      <div *ngIf="registro.lugar_procedencia">
        <b>Lugar de Procedencia: </b>{{registro.lugar_procedencia.split(' ').slice(0 , 5).join(' ')}}
        <br><br>

      </div>
      <div *ngIf="registro.analista">
        <b>Analista: </b>{{registro.analista}}
      </div>

    </ion-card-header>

    <ion-card-content>

      <div *ngIf="registro.descripcion">
        <b>Descripcion: </b>{{registro.descripcion.split(' ').slice(0 , 20).join(' ')}}...
        <br><br>
      </div>

      <div *ngIf="registro.tratamiento_sugerido">
        <b>Tratamiento Sugerido: </b>{{registro.tratamiento_sugerido.split(' ').slice(0 , 20).join(' ')}}...
        <br><br>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
