<ion-header>

  <ion-navbar color='dark'>
    <ion-title *ngIf="Done" text-center>Registro guardado con éxito</ion-title>
    <ion-title *ngIf="!Done" text-center>Error al guardar el registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class='logo'>

  <div class="image" *ngIf="!Done">
      <ion-icon color='danger' name="close-circle"></ion-icon>
  </div>

  <div class="image" *ngIf="Done">
      <ion-icon  color='secondary' name="checkmark-circle"></ion-icon>
  </div>

</div>

  <button ion-button full large color='dark' (click)="irHome()" icon-start>
    <ion-icon name="home"></ion-icon>
    Regresar
  </button>





</ion-content>
