<ion-header>

  <ion-navbar color='dark'>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon *ngIf="ServerConection" color='secondary' name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="!ServerConection" color='danger' name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Cargar Audio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh-circle">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!recording" class='mic'>
    <ion-icon name="mic" color='dark'></ion-icon>
  </div>

  <div *ngIf="recording" class='mic'>
    <ion-icon color='secondary' name="mic"></ion-icon>
  </div>


  <button disabled=true block icon-start *ngIf="recording&&!pause" ion-button color='light'>
    <ion-icon name="recording"></ion-icon>
    Grabando Audio...
  </button>


  <button disabled=true block icon-start *ngIf="!recording&&pause" ion-button color='light'>
    <ion-icon name="pause"></ion-icon>
    Grabacion en pausa...
  </button>




  <ion-footer padding>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon class='rec' *ngIf="!recording&&!pause" (click)="startRecord()"><i class="fas fa-circle"></i></ion-icon>
          <ion-icon  *ngIf="recording&&!pause" (click)="pauseRecord()"><i class="fas fa-pause"></i></ion-icon>
          <ion-icon  *ngIf="!recording&&pause" (click)="resumeRecord()"><i class="fas fa-play"></i></ion-icon>
        </ion-col>

        <ion-col>
          <ion-icon *ngIf="recording||pause" (click)="stopRecord()"><i class="fas fa-stop"></i></ion-icon>
          <ion-icon *ngIf="!recording&&!pause" style="color:#dddddd"><i class="fas fa-stop"></i></ion-icon>
        </ion-col>

        <ion-col>
          <ion-icon  *ngIf="AudioReady" (click)="BorrarAudio()"><i class="fas fa-trash"></i></ion-icon>
          <ion-icon  *ngIf="!AudioReady" style="color:#dddddd"><i class="fas fa-trash"></i></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>


    <button disabled=true block icon-start *ngIf="!AudioReady" ion-button color='light'>
      <ion-icon name="information-circle"></ion-icon>
      No hay Audio
    </button>

    <button block (click)="PlayAudio()" icon-start *ngIf="AudioReady&&!playing" ion-button color='light'>
      <ion-icon name="play"></ion-icon>
      Reproducir
    </button>

    <button block icon-start *ngIf="playing&&AudioReady" (click)='StopAudio()' ion-button color='light'>
      <ion-icon name="square"></ion-icon>
      Detener
    </button>

    <button class=continuar ion-button full large color='dark' (click)="GuardarReg()" icon-start>
      <ion-icon>
        <i class="fas fa-save"></i>
      </ion-icon>
      Guardar Registro
    </button>

  </ion-footer>

</ion-content>
