page-form3 {


  ion-content {

    ion-icon {
      display: block;
      text-align: center !important;
      font-size: 25vmin;
      color: dark;
    }

  }

  .mic {
    ion-icon {
      font-size: 20vh;
    }
  }

  .rec {
    color: #f53d3d !important;
  }


  
  @media (orientation:landscape) {

    .mic {
      ion-icon {
        font-size: 17vh;
      }
    }

    ion-content {
      ion-icon {
        display: block;
        text-align: center !important;
        font-size: 15vmin;
        color: dark;
      }
    }
  }
}
