page-registro-detalle {

  .text {
    white-space: normal  !important;
  }


  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
    width: 100% !important;
  }

}
