page-form2 {

  .Upbutons {
    height: 64px;
  }


  .fotos {
    height: calc(100% - 128px);
  }




  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
  }

  .img1 {
    width: calc((100vw - 75px) / 5);
  }

  .img2 {
    width: calc((100vw - 75px) / 5);
  }

  ion-col {
    padding: 0 !important;
    margin: 0 !important;
  }

  .btn2 {
    margin-left: 4px !important;
  }

  .btn1 {
    margin-right: 4px !important;
  }


  @media (orientation: portrait) {

    .img1 {
      width: calc(50% - 8px) !important;
    }

    .img2 {
      width: calc(50% - 8px) !important;
    }
  }
}
